<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Menu</h1>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="container">
  <% @courses.each do |course| %>
  <div class= "col-md-4">
    <%= link_to 'add item to '+"#{course.name}", new_dish_path(:course_id => course.id) %>
    <%= content_tag(:h2, course.name)%>
    <% course.dishes.each do |dish| %>
    <%= content_tag(:h4, dish.name) %>
  </div>
    <% end %>
  <% end %>
</div>
