<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Menu</h1>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="container">
    <div class="col-md-4">
      <% @courses.each do |course| %>
      <h1><%= course.name %></h1>
      <%= link_to 'add dish to '+"#{course.name}", new_dish_path(:course_id => course.id) %>
        <% course.dishes.each do |dish| %>
        <h4><%= dish.name %></h4>
        <% end %>
      <% end %>
    </div>

</div>
